<% include ../partials/header %>

<h1><%= challenge.name %></h1>

<img src="<%= challenge.coverImage %>">

<p><%= challenge.description %></p>

<p>
    <a class="btn btn-success" href="/challenges/<%= challenge._id %>/comments/new">Add New Comment</a>
</p>

<% challenge.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }) %>

<% include ../partials/footer %>