<% include ../partials/header %>

<div class="container">
    <div class="row" style="display:flex; flex-wrap: wrap;">
        <div class="col-md-3">
            <div class='row'>
                <div class='col-md-7'>
                    <p class="lead">OnlineArena</p>
                </div>
                <div class='col-md-5'>
                    <% 
                        var followed = false;
                        if(currentUser && currentUser.following.indexOf(challenge._id) >= 0){
                            followed = true;
                        }
                    %>
                    <% if(followed){ %>
                        <a href="/challenges/<%= challenge._id %>/follow" id='followBtn' class='btn btn-primary btn-block'>Unfollow</a>
                    <% }else if(currentUser){ %>
                        <a href="/challenges/<%= challenge._id %>/follow" id='followBtn' class='btn btn-primary btn-block'>Follow</a>
                    <% } %>
                </div>
            </div>
            <div class="list-group" style="text-align: center;">
                <li class="list-group-item active" id="startCount"><strong>loading...</strong></li>
                <li class="list-group-item"><strong>Registered: <%= challenge.participants.length %> Required: <%= challenge.restrictions.minParticipants %></strong></li>
                <%
                    var voteNum = 0;
                    for(var i = 0; i < challenge.participants.length; i++){
                        voteNum += challenge.participants[i].score;
                    }
                %>
                
                <li class="list-group-item"><strong>Votes received: <%= voteNum %></strong></li>
            </div>
            <div class='col-md-12'>
                <p><strong>tags:</strong>
                    <%
                        const tags = challenge.tags.split(" ");
                        for(var i = 0; i < tags.length; i++){
                    %>
                            #<%= tags[i] %>
                    <%
                        }
                    %>
                </p><br>
            </div>
            <div class='col-md-6'>
                <form action="/challenges/<%= challenge._id %>/participate/" method="GET">
                    <button class="btn-block btn btn-success">Participate</button>
                </form>
            </div>
            <div class='col-md-6'>
                <form action="/challenges/<%= challenge._id %>/vote/" method="GET">
                    <button class="btn-block btn btn-success">Vote</button>
                </form>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= challenge.coverImage %>">
                <div class="caption-full">
                    <h4><a><%= challenge.name %></a></h4>
                    <p><%= challenge.description %></p>
                    <p>
                        <em>Created by <a href='/users/<%= challenge.author.id %>'><%= challenge.author.username %></a></em>
                    </p>
                    <% if(currentUser && challenge.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/challenges/<%= challenge._id %>/edit">Edit</a>
                        <form id="delete-form" action="/challenges/<%= challenge._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/challenges/<%= challenge._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% for(var i = challenge.comments.length - 1; i >= 0; i--){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><a href='/users/<%= challenge.comments[i].author.id %>'><%= challenge.comments[i].author.username %></a></strong>
                            <!--<span class="pull-right">10 days ago</span>-->
                            <p>
                                <%= challenge.comments[i].text %>
                            </p>
                            <% if(currentUser && challenge.comments[i].author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-xs btn-warning" 
                                    href="/challenges/<%= challenge._id %>/comments/<%= challenge.comments[i]._id %>/edit">Edit
                                </a>
                                <form id="delete-form" action="/challenges/<%= challenge._id %>/comments/<%= challenge.comments[i]._id %>?_method=DELETE" method="POST">
                                    <input type='submit' class="btn btn-xs btn-danger" value="Delete">
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<form id="showStats" action="/challenges/<%= challenge._id %>/showStats" method="GET"></form>

<script>
    // Set the date we're counting down to
    var countDownDate = <%- JSON.stringify(challenge.startDate) %>
    countDownDate = new Date(countDownDate).getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {
    
        // Get todays date and time
        var now = new Date().getTime();
        
        // Find the distance between now and the count down date
        var distance = countDownDate - now;
        
        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        
        // Output the result in an element with id="demo"
        document.getElementById("startCount").innerHTML = "<strong>Starts in: </strong>" + days + "d " + hours + "h "
        + minutes + "m " + seconds + "s";
        
        // If the count down is over, write some text 
        if (distance < 0) {
            clearInterval(x);
            var displayText = "<strong>Challenge started</strong>";
            if(<%- challenge.participants.length %> < <%- challenge.restrictions.minParticipants %>){
                displayText = "<strong>Challenge in inactive mode, not enough participants</strong>";
            }
            if(<%- challenge.endDate.getTime() %> < (new Date()).getTime()){
                displayText = "<strong>Challenge ended</strong>";
                
                $("#showStats").submit();
            }
            document.getElementById("startCount").innerHTML = displayText;
            return;
        }
    }, 1000);
</script>

<% include ../partials/footer %>