<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">OnlineArena</p>
            <div class="list-group" style="text-align: center;">
                <li class="list-group-item active" id="startCount"><strong>loading...</strong></li>
                <li class="list-group-item"><strong>Registered: <%= challenge.participants.length %> Required: <%= challenge.restrictions.minParticipants %></strong></li>
            </div>
            <div class='col-md-6'>
                <form action="/challenges/<%= challenge._id %>/participate/" method="GET">
                    <button class="btn-block btn btn-primary">Participate</button>
                </form>
            </div>
            <div class='col-md-6'>
                <button class="btn-block btn btn-primary">Vote</button>    
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= challenge.coverImage %>">
                <div class="caption-full">
                    <h4><a><%= challenge.name %></a></h4>
                    <p><%= challenge.description %></p>
                    <p>
                        <em>Created by <a href='/users/<%= challenge.author.id %>'><%= challenge.author.username %></a></em>
                    </p>
                    <% if(currentUser && challenge.author.id.equals(currentUser._id)){ %>
                        <!--<a class="btn btn-xs btn-warning" href="/challenges/<%= challenge._id %>/edit">Edit</a>-->
                        <form id="delete-form" action="/challenges/<%= challenge._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/challenges/<%= challenge._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% challenge.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><a href='/users/<%= comment.author.id %>'><%= comment.author.username %></a></strong>
                            <span class="pull-right">10 days ago</span>
                            <p>
                                <%= comment.text %>
                            </p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-xs btn-warning" 
                                    href="/challenges/<%= challenge._id %>/comments/<%= comment._id %>/edit">Edit
                                </a>
                                <form id="delete-form" action="/challenges/<%= challenge._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <input type='submit' class="btn btn-xs btn-danger" value="Delete">
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<script>
    // Set the date we're counting down to
    var countDownDate = <%- JSON.stringify(challenge.startDate) %>
    countDownDate = new Date(countDownDate).getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {
    
        // Get todays date and time
        var now = new Date().getTime();
        
        // Find the distance between now and the count down date
        var distance = countDownDate - now;
        
        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        
        // Output the result in an element with id="demo"
        document.getElementById("startCount").innerHTML = "<strong>Starts in: </strong>" + days + "d " + hours + "h "
        + minutes + "m " + seconds + "s";
        
        // If the count down is over, write some text 
        if (distance < 0) {
            clearInterval(x);
            var displayText = "<strong>Challenge started</strong>";
            if(<%- challenge.participants.length %> < <%- challenge.restrictions.minParticipants %>){
                displayText = "<strong>Challenge failed, not enough participants</strong>";
            }
            if(<%- challenge.endDate.getTime() %> < (new Date()).getTime()){
                document.getElementById("startCount").innerHTML = "<strong>Challenge ended</strong>";
            }
            document.getElementById("startCount").innerHTML = displayText;
            return;
        }
    }, 1000);
</script>

<% include ../partials/footer %>