<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 class='centeredText'>Click one of images or <a href="/challenges/<%= challenge._id %>">Quit</a></h1>
        <div class='voteDiv'>
            <form id="form" action="/challenges/<%= challenge._id %>/vote/" method="POST">
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img id="image1" class='fullWidth' src="<%= challenge.participants[randNum1].image %>">
                    </div>
                </div>
                <div class="col-md-6 vertical">
                    <div class="thumbnail">
                        <img class='fullWidth' id="image2" src="<%= challenge.participants[randNum2].image %>">
                    </div>
                </div>
                <input type="hidden" name="input" id="input">
                <input type="hidden" name="chosen" value="<%= chosen %>">
            </form>
        </div>
    </div>
</div>

<script>
    $( "#image1" ).click(function() {
        $("#input").val(<%- randNum1 %>);
        $("#form").submit();
    });
    
    $( "#image2" ).click(function() {
        $("#input").val(<%- randNum2 %>);
        $("#form").submit();
    });
</script>

<% include ../partials/footer %>