<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Edit profile</h1>
        <div style="width: 30%; margin: 25px auto">
            <form action="/users/<%= user._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class='form-group' >
                    <input class='form-control' type="text" name="user[firstName]" placeholder="first name" value="<%= user.firstName %>">
                </div>
                <div class='form-group' >
                    <input class='form-control' type="text" name="user[lastName]" placeholder="last name" value="<%= user.lastName %>">
                </div>
                <div class='form-group' >
                    <input class='form-control' type="number" name="user[birthYear]" placeholder="year of birth" value="<%= user.birthYear %>">
                </div>
                <div class='form-group' >
                    <!--<input class='form-control' type="text" name="user[avatar]" placeholder="copy image location" value="<%= user.avatar %>">-->
                    <label for="image">Profile image</label>
                    <input type='file' id='image' name='user[avatar]' accept='image/*'>
                </div>
                <div class='form-group' >
                    <textarea lass='form-control' name="user[interests]" 
                        placeholder=" type interests and separate with space like: design photography beauty" 
                        style="width: 100%;" rows="5"><%= user.interests %></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/users/<%= user._id %>">Go back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>