<% include ../partials/header %>

<div class="container">
    <div class='row'>
        <div class='col-md-9'>
            <h3><strong><%= user.username %>'s challenges:</strong></h3>
            <div class="row text-center" style="display: flex; flex-wrap: wrap;">
                <% for(var i = 0; i < challenges.length; i++) { %>
                    <div class='col-md-3 col-sm-6'>
                        <div class="thumbnail">
                            <img style="width:100%;" src="<%= challenges[i].coverImage %>">
                            <div class='caption'>
                                <h4><%= challenges[i].name %></h4>
                            </div>
                            <p>
                                <a href="/challenges/<%= challenges[i]._id %>" class="btn btn-primary">More Info</a>
                            </p>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <div class='col-md-3'>
            <h1><%= user.username %></h1>
            <p><strong>Name: </strong><%= user.firstName + " " + user.lastName %> %></p>
            <p><strong>Birth year: </strong><%= user.birthYear %></p>
            <p><strong>Gender: </strong><%= user.gender %></p>
            <div class='thumbnail'>
                <img src='<%= user.avatar %>' alt='user profile image'>
                <div class='caption'><a href='mailto:<%= user.email %>'><%= user.email %></a></div>
            </div>
            <% if(currentUser._id == user.id){ %>
                <a class="btn btn-xs btn-warning" href="/users/<%= currentUser._id %>/edit">Edit Info</a>
            <% } %>
        </div>
    </div>
</div>

<% include ../partials/footer %>
