<% include ../partials/header %>

<div class="container">
    <div class='row'>
        <div class='col-md-3 centeredText'>
            <h1><%= user.username %></h1>
            <div class='thumbnail'>
                <img id='profileImage' src='<%= user.avatar %>' alt='user profile image'>
                <div class='caption centeredText'><a href='mailto:<%= user.email %>'><%= user.email %></a></div>
            </div>
            <%
                var totalPoints = 0;
                user.achievements.forEach(function(achievement){
                    totalPoints += achievement.pointsReceived;
                });
            %>
            <p><strong>Total points: </strong><%= totalPoints %></p>
            <p><strong>Name: </strong><%= user.firstName + " " + user.lastName %> %></p>
            <p><strong>Birth year: </strong><%= user.birthYear %></p>
            <p><strong>Gender: </strong><%= user.gender %></p>
            <p><strong>Interests:</strong>
                <%
                    const interests = user.interests.split(" ");
                    for(var i = 0; i < interests.length; i++){
                %>
                    #<%= interests[i] %>
                <% } %>
            </p>
            <% if(currentUser && currentUser._id == user.id){ %>
                <a class="btn btn-xs btn-warning" href="/users/<%= currentUser._id %>/edit">Edit Info</a>
            <% } %>
            <br>
            <h3 class='centeredText'>Challenges followed by <%= user.username %>:</h3>
            <div class="row text-center alignRows">
                <% for(var i = 0; i < followedChallenges.length; i++) { %>
                    <div class='col-md-12 col-sm-12'>
                        <a href="/challenges/<%= followedChallenges[i]._id %>"><h4><%= followedChallenges[i].name %></h4></a>
                    </div>
                <% } %>
            </div>
        </div>
        <div class='centeredText col-md-4'>
            <h3>Achievements</h3>
            <% for(var i = 0; i < user.achievements.length; i++){ %>
                <p>
                    <strong>
                        <%= user.achievements[i].award %>
                    </strong>
                    in <a href='/challenges/<%= user.achievements[i].challengeId %>'><%= user.achievements[i].challengeName %></a> -
                    Total votes: <%= user.achievements[i].score %>
                </p>
            <% } %>
        </div>
        <div class='col-md-5'>
            <h3 class='centeredText'><%= user.username %>'s challenges</h3><br>
            <div class="row text-center alignRows">
                <% for(var i = 0; i < challenges.length; i++) { %>
                    <div class='col-md-4 col-sm-6'>
                        <div class="thumbnail">
                            <img class='fullWidth' src="<%= challenges[i].coverImage %>">
                            <div class='caption'>
                                <a href="/challenges/<%= challenges[i]._id %>"><h4><%= challenges[i].name %></h4></a>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
